@{
    ViewData["Title"] = "Home";
}

<header>   
    <h1 class="text-center">Welcome</h1>
</header>
<div class="text-center">
    <p>This is Tenno Server.</p>
</div>

<div>
    <div>What you want to explore?:</div>
    <a href="/Home/Warframes">Warframes</a>
</div>
